.body {
    margin: 0px;
    padding: 0px;
}
.fix_width {
    width: 900px;
}
.kara_text {
    color: white;
    -webkit-text-stroke: 1px black;
}
.kara_text_color {
    -webkit-text-stroke: 1px white;
}
.kara_font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}
#first_line {
    position: absolute;
    bottom: 80px;
    left: 20px;
    width: 900px;
    height: 50px;
}
#first_line_color {
    position: absolute;
    bottom: 80px;
    left: 20px;
    width: 1px;
    height: 50px;
    overflow: hidden;
}
#second_line {
    position: absolute;
    bottom: 30px;
    left: 450px;
    width: 900px;
    height: 50px;
}
#second_line_color {
    position: absolute;
    bottom: 30px;
    left: 450px;
    width: 1px;
    height: 50px;
    overflow: hidden;
}
#text
{
    position: absolute;
    left: 0px;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
}
.man {
    color: #0000FF;
}
.woman {
    color: #FF0000;
}